.cs-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cs-card {
  background: #8D6E63;
  width: 100%;
  height: 100%;
}

.cs-card-content {
  display: flex;
  padding-top: 20px;
}
